@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

:root {
    --darkColor: #262626;
    --semiDarkColor: #70798C;
    --lightColor: #E4DFDA;
}
html {
    scroll-behavior: smooth;
}
*,::before,::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Josefin Sans', sans-serif;
    background-image: linear-gradient(to bottom right, var(--darkColor), var(--semiDarkColor));
    color: var(--lightColor);
}

a {
    position: relative;
    text-decoration: none;
    color: var(--lightColor);
}
a::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -.5pt;
    height: 1.5pt;
    width: 15%;

    background-color: var(--lightColor);

    border-radius: 50pt;

    transition: width .25s;
}
a:hover::before {
    width: 100%;
}

header {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    overflow: hidden;
    color: var(--darkColor);
}

nav {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    min-height: 5vh;

    z-index: 1;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 5pt 15pt;

    backdrop-filter: blur(2.5pt);
    -webkit-backdrop-filter: blur(2.5pt);

    user-select: none;
    -webkit-user-select: none;

    transition: top .5s;
}
nav.hide:not(:hover) {
    top: -10%;
}
nav h1 {
    color: var(--semiDarkColor);
    font-size: 25pt;
}

/* Navs */

.menu {
    display: flex;
}

.menu * {
    list-style: none;
}

.menu>li {
    position: relative;
    margin: 0 15pt;
    padding: 5pt;
    cursor: pointer;
}
.mobile .menu>li {
    cursor: initial;
}
.menu-content {
    max-height: 0;
    position: absolute;
    overflow: hidden;
    left: 0;
    top: 100%;

    text-align: left;
    
    transition: max-height .5s .5s, padding .5s .5s;
}
.menu>li:hover>.menu-content {
    max-height: 13em;
    padding: 0 5pt;
    transition: max-height .25s, padding .5s;
}
.menu-content>li {
    margin: 5pt 0;
    position: relative;

    transition: color .5s 0s;
}

.menu-inner {
    max-height: 0;
    overflow: hidden;

    transition: max-height .5s 0s;
}

.menu-content li:hover {
    color: var(--lightColor);
}
.menu-content li:hover>.menu-inner {
    max-height: 5em;
}
.menu-inner>li {
    margin: 5pt 0;
}

/* header */

.title {
    font-size: 25pt;
    text-shadow: 1.5pt 1.5pt 2.5pt var(--lightColor), -1.5pt -1.5pt 2.5pt var(--semiDarkColor);
}

/* main */

main {
    padding: 0 15pt;
}
main a {
    padding: .5pt 2.5pt;
    border: 1.5pt dashed var(--darkColor);
    transition: border-width .5s, padding .5s;
}
main a:hover {
    border-width: .5pt;
    padding: 2.5pt 4.5pt;
}
main a::before {
    height: 100%;
    border-radius: 0 50pt 50pt 0;
    z-index: -1;
    background-color: var(--darkColor);
    width: 0;
    transition: .5s;
}
main a:hover::before {
    width: 100%;
    border-radius: 0;
}

section {
    min-height: 100vh;
}

section>* {
    margin: 5pt 0;
}

section>h2 {
    margin-bottom: 15pt;
    position: relative;
    display: inline-block;
}
section>h2::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 50%;
    height: 2.5pt;
    border-radius: 50pt;
    background-image: linear-gradient(to right, var(--lightColor), transparent);
}

/* 1e section */

.presentation>ol {
    margin: 15pt 10pt;
}
.presentation li {
    margin: 15pt 0;
}
.presentation li>* {
    margin: 5pt 0;
}

/* me section */

#me img {
    float: left;
    width: 25%;
    border-radius: 50%;
}

#me p {
    /* faire en sorte que le texte s'align sur le border radius de l'img */
}

/* medias */

@media screen and (max-width: 375px) {
    .menu>li {
        margin: 0 5pt;
    }
}

@media screen and (max-width: 315px) {
    .menu>li {
        margin: 0;
    }
}